{{ define "footer" }}
<footer class="border-t border-gray-200 mt-auto bg-[#2da44e]">
    <div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">
        <div class="text-white text font-bold tracking-tight">
            habits
        </div>
        <nav class="flex space-x-6">
            <a href="/about" class="text-sm text-white hover:underline">about</a>
            <a href="/roadmap" class="text-sm text-white hover:underline">roadmap</a>
            <a href="/changelog" class="text-sm text-white hover:underline">changelog</a>
        </nav>
    </div>
</footer>
{{ end }} 