<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-50">
{{ template "head" . }}
<body class="h-full">
    {{ template "header" dict "User" .User "Page" "changelog" }}

    <div x-data="changelog()" class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
        <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-12">
            <h1 class="text-3xl font-bold tracking-tight text-gray-900 mb-2 sm:mb-0">Changelog 🚀</h1>
            <p class="text-lg text-gray-600">Latest updates and improvements to <b>habits</b></p>
        </div>

        <div class="space-y-8 relative">
            <template x-for="item in changelogItems" :key="item.version">
                <div class="border-t border-gray-200 pt-8">
                    <div class="sticky top-0 bg-gray-50 z-10">
                        <div class="absolute inset-x-0 -top-4 h-4 bg-gradient-to-b from-gray-50 to-transparent"></div>
                        
                        <div class="flex items-center justify-between py-2">
                            <h2 class="text font-bold tracking-tight text-gray-500" x-text="item.version"></h2>
                            <span class="text-xl tracking-tight font-bold text-gray-900" x-text="item.title"></span>
                        </div>
                    </div>
                    <span class="text-sm text-gray-500 block mb-4" x-text="item.date"></span>
                    <div class="space-y-4">
                        <div>
                            <p class="text-gray-600 mb-4" x-text="item.description"></p>
                            <template x-if="item.video">
                                <video class="w-full rounded-lg shadow-lg" autoplay muted loop>
                                    <source :src="item.video" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            </template>
                        </div>
                    </div>    
                </div>
            </template>
        </div>
    </div>

    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('changelog', () => ({
                changelogItems: [
                    {
                        version: 'v0.1.4',
                        title: '✏️ Edit Habits',
                        date: 'December 11, 2024',
                        description: 'You can now edit the name of your habits, and also delete habits with a warning modal that require you to retype the habit name to confirm the deletion.',
                        video: '/static/videos/v0.0.4.mp4'
                    },
                    {
                        version: 'v0.1.3',
                        title: '🎉 Confetti',
                        date: 'December 11, 2024',
                        description: 'We now welcome new users with a confetti animation and when setting habits to a done status on the home page, there is a small probability of a confetti animation.',
                        video: '/static/videos/v0.0.4.mp4'
                    },
                    {
                        version: 'v0.1.2',
                        title: '📊 Individual Numeric Habit View',
                        date: 'December 10, 2024',
                        description: 'We have updated the individual habit view to support numeric habits. This update introduces different shades of green to represent different ranges of numeric values, and a new heatmap to visualize the habit over time.',
                        video: '/static/videos/v0.0.4.mp4'
                    },
                    {
                        version: 'v0.1.1',
                        title: '🚀 Changelog',
                        date: 'December 10, 2024',
                        description: 'We implemented this beautiful and informative changelog page and added a version number to the logo on the header.',
                        video: '/static/videos/v0.0.4.mp4'
                    },
                    {
                        version: 'v0.1.0',
                        title: '📊 Individual Binary Habit View',
                        date: 'December 9, 2024',
                        description: 'We now show certain key stats in the individual binary habit view, such as the number of times you have done, missed, and skipped the habit. We have also introduced a Github-style yearly heatmap for the habit.',
                        video: '/static/videos/v0.0.4.mp4'
                    },
                    {
                        version: 'v0.0.9',
                        title: '🎲 Generate Passwords',
                        date: 'December 9, 2024',
                        description: 'There is now a button to generate a random password for you to use in the registration form, instead of having to type one in manually. This encourages users to use stronger unique passwords.',
                        video: '/static/videos/v0.0.4.mp4'
                    },
                    {
                        version: 'v0.0.8',
                        title: '💪 Sets & Reps Habits',
                        date: 'December 8, 2024',
                        description: 'We now have a roadmap where logged-in users can vote on new features and improvements as well as submit their own ideas.',
                        video: '/static/videos/v0.0.4.mp4'
                    },
                    {
                        version: 'v0.0.7',
                        title: '⚙️ Settings',
                        date: 'December 8, 2024',
                        description: 'We now have a roadmap where logged-in users can vote on new features and improvements as well as submit their own ideas.',
                        video: '/static/videos/v0.0.4.mp4'
                    },
                    {
                        version: 'v0.0.6',
                        title: '🗳️ Choice Habits',
                        date: 'December 7, 2024',
                        description: 'We now have a roadmap where logged-in users can vote on new features and improvements as well as submit their own ideas.',
                        video: '/static/videos/v0.0.4.mp4'
                    },
                    {
                        version: 'v0.0.5',
                        title: '🚀 Roadmap',
                        date: 'December 6, 2024',
                        description: 'We now have a roadmap where logged-in users can vote on new features and improvements as well as submit their own ideas.',
                        video: '/static/videos/v0.0.4.mp4'
                    },
                    {
                        version: 'v0.0.3',
                        title: '🔢 Numeric Habits',
                        date: 'December 5, 2024',
                        description: 'You can now log numeric habits, and each day can have one numeric log. This is useful for tracking things like weight, number of times you meditate, number of times you exercise, etc.',
                        video: '/static/videos/v0.0.3.mp4'
                    },
                    {
                        version: 'v0.0.2',
                        title: '🔑 Authentication',
                        date: 'December 5, 2024',
                        description: 'You can now register via an email and password, login, and logout. All passwords are securely hashed using bcrypt before storage, and we enforce strong password requirements including minimum length, special characters, and complexity rules. Our session management is handled securely using the SCS (Session Control System) library with encrypted cookies.',
                        video: '/static/videos/v0.0.2.mp4'
                    },
                    {
                        version: 'v0.0.1',
                        title: '✅ Initial Release',
                        date: 'December 4, 2024',
                        description: 'This first version of habits allows you to start tracking simple binary habits in a basic monthly grid view. You can choose from some predefined habits or create your own. We support a few different statuses such as ✅ done, ❌ missed, and ⏭️ skipped.',
                        video: '/static/videos/v0.0.1.mp4'
                    }
                ]
            }));
        });
    </script>
</body>
</html>
